// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------
//Color Theme Used
$primary-color: #000103;
$font-primary: #414758;
$font-secondary: #808594;
$red-primary: #ee5050;
$red-secondary:#ee5050;
$warm-primary: #eec950;
$dark-yellow:#ecb83e;
$orange-primary: #eeab5f;
$green-primary: #3fab46;
$white:#fff;
$black:#000;
$border:#43477b;
$ccc:#ccc;
$f3f3f3:#f3f3f3;
$A50:#e1e1e2;
$A100:#b3b3b6;
$A200:#808185;
$A300:#4d4e54;
$A400:#272830;
$A500:#01020b;
$A600:#01020a;
$A700:#010108;
$A800:#010106;
$A900:#000103;




