// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------
//Color Theme Used
$primary-color: #272b69;
$font-primary: #414758;
$font-secondary: #808594;
$red-primary: #ee5050;
$red-secondary:#ee5050;
$warm-primary: #eec950;
$dark-yellow:#ecb83e;
$orange-primary: #eeab5f;
$green-primary: #3fab46;
$white:#fff;
$black:#000;
$border:#43477b;
$ccc:#ccc;
$f3f3f3:#f3f3f3



