<div class="roleChangePopup" [formGroup]="userForm">
    <div class="popup-title">Change Roll</div>
    <div fxLayout="column">
        <div fxFlex="100">
            <mat-form-field class="example-full-width">
                <mat-label>User Name</mat-label>
                <input matInput placeholder="User name" readonly formControlName="name">
            </mat-form-field>
        </div>
    </div>
    <div fxLayout="column">
        <div fxFlex="100">
            <mat-form-field appearance="legacy">
                <mat-label>Change Role</mat-label>
                <mat-select formControlName="role">
                    <mat-option value="">Select</mat-option>
                    <mat-option *ngFor="let role of rolesList" [value]="role.role">{{role.role}}</mat-option>
                </mat-select>
                <mat-error *ngIf="userForm.get('role').touched && userForm.get('role')?.errors?.required">
                    Role is required.
                </mat-error>

            </mat-form-field>
        </div>
    </div>
    <div fxLayout="row" fxLayout.xs="column" class="form-page marginT">
        <div fxFlex="100" class="cols align-right">
            <span class="mr20"> <button mat-raised-button (click)="closePopup()">Cancel</button></span>

            <span><button mat-raised-button color="primary" (click)="onSave()">Change Role</button></span>
        </div>
    </div>

</div>