<mat-drawer-container class="example-container" autosize *ngIf="user">
    <mat-drawer #drawer class="sidenav" mode="side" opened>
        <div class="logo-small">UM</div>
        <ul class="nav">
            <li *ngFor="let menu of navMenu" [routerLink]="menu.path" routerLinkActive="router-link-active">{{menu.item}}</li>
        </ul>
    </mat-drawer>

    <div class="sidenav-content">
        <div class="app-header">
            <div class="menu-icon">
                <button type="button" mat-button (click)="drawer.toggle()">
          <i class="material-icons">menu</i>

          <!-- For IE9 or below. -->

          <i class="material-icons"></i>
        </button>
            </div>

            <div class="user" style="background-image:url('assets/images/Rectangle1606.png');" [matMenuTriggerFor]="userControll">
                <mat-menu #userControll="matMenu">
                    <button mat-menu-item>Edit Profile</button>
                    <button mat-menu-item (click)="logout()">LogOut</button>
                </mat-menu>
            </div>
        </div>
        <router-outlet></router-outlet>
    </div>
</mat-drawer-container>

<ng-container *ngIf="!user">
    <router-outlet></router-outlet>
</ng-container>